@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* *********************************************** */
body{
    font-family: 'Roboto','Noto Sans KR', sans-serif;
}
button{
    border: none;
    cursor: pointer;
}
/* *********************************************** */
header{
    width: 100%;
    padding: 30px 0;
    background:rgba(255,255,255,.6);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
header ul{
    display: flex;
    justify-content: end;
}
header ul li{
    margin:0 20px;
}
header ul li a{
    color:#fff;
    font-weight: bold;
}
/* *********************************************** */
#fullpage{
    position: relative;
}
#fullpage h1{
    font-size: 50px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    right: 80px;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
}
/* *********************************************** */
.m_btn{
    width: 30px;
    height: 30px;
    position: fixed;
    left:50px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 79;
    transform: scale(1.5);
}
.m_btn.on{
    animation: m_btn_ani 1.5s ease forwards;
    transform: scale(2);
}
@keyframes m_btn_ani{
    0%{left:50px;}
    50%{left:80%; top:20%;}
    100%{left:78%; top:20%;}
}
.m_btn .line{
    display: block;
    width: 100%;
    height: 100%;
}
.m_btn .line span{
    display: block;
    width: 20px;
    height: 2px;
    background:#fff;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}
.m_btn .line span::before{
    content: '';
    width: 30px;
    height: 2px;
    background:#fff;
    position: absolute;
    left: 0;
    top: -14px;
    transition: all 0.3s ease;
}
.m_btn .line span::after{
    content: '';
    width: 30px;
    height: 2px;
    background:#fff;
    position: absolute;
    left: 0;
    top: 14px;
    transition: all 0.3s ease;
}
.m_btn .line.on span{
    background:rgba(0,0,0,0);
}
.m_btn .line.on span::before{
    transform: rotate(45deg);
    top: 0;
}
.m_btn .line.on span::after{
    transform: rotate(-45deg);
    top: 0;
}
/* *********************************************** */
.full_menu{
    width: 77%;
    height: 100%;
    background:#000;
    position: fixed;
    left: -100%;
    top: 0;
    padding:225px 50px 0 130px; 
    box-sizing: border-box;
    z-index: 80;
    transition: all 0.5s ease;
    text-align: right;
}
.full_menu img{
    width: 180px;
    float:left;
    margin-top: 20%;
}
.full_menu.on{
    left:0;
}
.full_menu li:not(:last-child){
    margin-bottom: 20px;
}
.full_menu li a{
    color:#fff;
    font-size: 50px;
    position: relative;
}
.full_menu li a::before{
    content: '';
    width: 0%;
    height: 5px;
    position: absolute;
    left: -15%;
    top: 50%;
    transform: translateY(-50%);
    background:chartreuse;
    border-radius: 100px;
    transition: all 0.3s ease;
    z-index: -1;
}
.full_menu li a:hover::before{
    width: 120%;
}
/* *********************************************** */
.copy p{
    margin-top: 50px;
    font-size: 15px;
    color: #fff;
    line-height: 20px;
}
/* *********************************************** */
.blackout{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 70;
    display: none;
}
.blackout.on{
    display: block;
}
/* *********************************************** */
.home{
    position: relative;
    overflow: hidden;
}
.jumping{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -100%;
    width: 150px;
    z-index: 10;

    transition: all 0.5s cubic-bezier(0,.85,.6,1.51)
}
.jumping.on{
    bottom: -120px;
}
.jumping_c{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 17%;
    width: 150px;
    z-index: 10;
    opacity: 0;

    transition: all 0.5s 0.7s ease;
}
.jumping_c.on{
    opacity: 1;
}
.title{
    width: 975px;
    height: 648px;
    border-radius: 16px;
    border: 0.5px solid #8B8B8B;
    box-shadow: 30px 30px 50px rgba(0,0,0,.2);
    background: #212836;
    position: absolute;
    left: 50%;
    margin-left: -487.5px;
    top: 50%;
    margin-top: -324px;
    z-index: 5;
    transform: scale(0);
}
.title.on{
    animation: home_ani 0.2s ease forwards;
}
@keyframes home_ani{
    0%{transform: scale(0);}
    100%{transform: scale(0.8);}
}
.tit_top{
    overflow: hidden;
    width: 100%;
    height: 55px;
    padding: 20px 424px 0 25px;
    box-sizing: border-box;
}
.tit_top p{
    font-size: 30px;
    font-weight: bold;
    float: right;
    color: #fff;
}
/* *********************************************** */
.circle {
    width: 35px;
    height: 35px;
    border-radius: 100px;
    float: left;
}
.circle_01{
    background: #e9695e;
    margin-right: 18px;
}
.circle_02{
    background: #f4be4e;
    margin-right: 18px;
}
.circle_02 a{
    display: block;
    width: 100%;
    height: 100%;
}
.circle_03{
    background: #63c755;
}
.circle_03 a{
    display: block;
    width: 100%;
    height: 100%;
}
/* *********************************************** */
.tit_mid{
    width: 100%;
    height: 543px;
    text-align: center;
}
.tit_mid h2{
    font-size: 33px;
    font-weight: bold;
    line-height: 543px;
    color: #97A7BE;
}
.tit_mid .fuc{
    color: #a786cf;
    font-size: 33px;
}
.tit_mid .des{
    color: #6096d5;
    font-size: 33px;
}
.tit_mid h2 span{
    font-size: 77px;
    color: #C1FB39;
}
.tit_mid h3{
    font-size: 42px;
    font-weight: bold;  
    color:rgba(255,255,255,.5);
    padding-top: 180px;
    margin-bottom: 20px;
    line-height: 70px;
}
.tit_mid p{
    font-size: 42px;
    font-weight: bold;  
    color:#fff;
}
.tit_bottom{
    width: 100%;
    height: 50px;
}
.tit_bottom p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    color:rgba(255,255,255,.5);
}
.home_back{
    width: 50%;
    height: 100%;
    background:linear-gradient(to top,#101010, #3A3A3A);
    position: absolute;
    left: 0;
    top: 0;
}
/* *********************************************** */
.about{
    position: relative;
    overflow: hidden;
}
.about_txt{
    position: absolute;
    top: 50%;
}
.about h3{
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
    margin-bottom: 40px;
}
.about p{
    font-size: 1.75em;
    font-weight: bold;
    color: rgba(255,255,255,.8);
    line-height: 48px;
}
.about_back{
    background: #656565;
    width: 468px;
    height: 100%;
    position: absolute;
    left: 15%;
    top: -100%;
    box-shadow: 30px 0 50px rgba(0,0,0,.2);
    padding: 0 62px 0 63px;
    box-sizing: border-box;
}
.about_back.on{
    animation: about_ani 0.5s ease forwards;
}
@keyframes about_ani{
    0%{top: -100%;}
    100%{top: 0;}
}
.about_pic{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 13px solid #fff;
    position: absolute;
    top: -150%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 118px;
    box-sizing: border-box;
    box-shadow: 30px 30px 50px rgba(0,0,0,.2);
    z-index: 10;
}
.about_pic.on{
    animation: about_pic_ani 1.5s ease forwards;
}
@keyframes about_pic_ani{
    0%{top: -100%;}
    50%{top:20%}
    100%{top: 10%;}
}
.about_right{
    position: absolute;
    left:45%;
    top: 15%;
    width: 45%;
    height: 65%;
}
.about_right img{
    width: 164px;
    margin-bottom: 10%;
}
.about_s_t{
    top: 0;
    left: 0;
}
.about_s_l{
    width: 50%;
    height: auto;
    float: left;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
}
.about_s_r{
    width: 50%;
    height: auto;
    float:left;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    bottom: 0;
}
/* *********************************************** */
.web{
    overflow: hidden;
}
.web_txt{
    position: absolute;
    left: 6%;
    bottom: 17%;
    z-index: 5;
}
.web h3{
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
    margin-bottom: 40px;
}
.web p{
    font-size: 1.75em;
    font-weight: bold;
    color: rgba(255,255,255,.8);
    line-height: 48px;
}
.web_back{
    width: 100%;
    height: 100%;
    background:url("../images/web_back.png")no-repeat;
    background-size: cover;
    position: relative;
}
/* *********************************************** */
.web_box_wrap{
    position: absolute;
    top: 38%;
    left: 50%;
    margin-left: -80px;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 574px;
    z-index: 5;
    display: flex;
    justify-content: space-between;
}
.web_box_wrap li .web_box:hover .web_box_bottom{
    height: 100%;
}
.web_box{
    width: 395px;
    height: 574px;
    border-radius: 5px;
    background:linear-gradient(to top,#3C3C3C, #777777);
    padding: 65px 35px 0 35px;
    box-sizing: border-box;
    position: relative;
    box-shadow: 30px 30px 40px rgba(0,0,0,.3);
    overflow: hidden;
    transform: scale(70%);
    top: -150%
}
.web_box img{
    width: 100%;
}
.w_box_01.on{
    animation: web_box_ani 1s ease forwards;
}
.w_box_02.on{
    animation: web_box_ani 1.5s ease forwards;
}
.w_box_03.on{
    animation: web_box_ani 2s ease forwards;
}
.w_box_04.on{
    animation: web_box_ani 2.5s ease forwards;
}
@keyframes web_box_ani {
    0%{top: -150%;}
    50%{top: 10%;}
    100%{top: 0;}
}
/* *********************************************** */
.web_box_bottom{
    width: 100%;
    height: 199px;
    background:#fff;
    position: absolute;
    border-radius: 0 0 10px 10px;
    left: 0;
    bottom: 0;
    padding: 30px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}
.web_box_bottom h3{
    display: block;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000;
}
.web_box_bottom p{
    display: block;
    font-size: 21px;
    font-weight: bold;
    color: rgba(0,0,0,.4);
    margin-bottom: 20px;
}
.web_box_bottom h4{
    float:right;
    font-size: 15px;
    font-weight: bold;
    color: rgba(0,0,0,.6);
    text-align: right;
}
.web_box_img{
    margin: 195px 33% 0 33%;
    width: 33% !important;
}
/* *********************************************** */
.mobile{
    position: relative;
}
.mobile h3{
    display: block;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}
.mobile p{
    display: block;
    font-size: 21px;
    font-weight: bold;
    color: rgba(255,255,255,.4);
}
.mobile h4{
    float:right;
    font-size: 15px;
    font-weight: bold;
    color: rgba(255,255,255,.6);
    text-align: right;
}
.mobile_back{
    position: absolute;
    left: -100%;
    top: 0;
    width: 32%;
    height: 100%;
    background:linear-gradient(to top,#0D0D12, #3F4259);
    box-shadow: 20px 0 20px rgba(0,0,0,.3);
    z-index: 80;
}
.mobile_back.on{
    animation: mobile_ani 1s ease forwards;
}
@keyframes mobile_ani{
    0%{left: -100%;}
    50%{left:0; width:42%;}
    100%{left: 0; width:32%;}
}
.mobile_logo{
    position: absolute;
    width: 164px;
    left: 20%;
    transform: translateX(-50%);
    top: 7%;
}
.mobile_link{
    position: absolute;
    width: 100px;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
}
.mobile_back span{
    color:#fff;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 55%;
    opacity: .3;
}
/* *********************************************** */
.m_box_all{
    position: absolute;
    top: 17%;
    left: -100%;
    width: 304px;
    height: auto;
}
.m_box_all img{
    width: 100%;
    box-shadow: 20px 20px 20px rgba(0,0,0,.3);
    border-radius: 10px;
}
.m_box_all.on{
    animation: m_box_ani 1s ease forwards;
}
.m_box_all.remove{
    animation: m_box_ani_remove 1s ease forwards;
}
@keyframes m_box_ani{
    0%{left: -100%;}
    50%{left:40%}
    100%{left: 30%;}
}
@keyframes m_box_ani_remove{
    0%{left: 30%;}
    100%{left: -100%;}
}
/* *********************************************** */
.mobile_list{
    position: absolute;
    width: 47%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    left:35%;
    top: 45%;
}
.mobile_icon span{
    display: block;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    color:#fff;
    margin-top: 30px;
    text-align: center;
}
.mobile_icon{
    width: 155px;
    height: 155px;
    border-radius: 40px;
    box-shadow: 20px 20px 20px rgba(0,0,0,.3);
    position: absolute;
    left: -100%
}
.mobile_icon img{
    width: 100%;
    border-radius: 40px;
}
/* *********************************************** */
.m_icon_01.on{
    animation: m_icon_ani_01 1s ease forwards;
}
.m_icon_02.on{
    animation: m_icon_ani_02 1.3s ease forwards;
}
.m_icon_03.on{
    animation: m_icon_ani_03 1.6s ease forwards;
}
.m_icon_04.on{
    animation: m_icon_ani_04 1.9s ease forwards;
}
@keyframes m_icon_ani_01{
    0%{left: -100%;}
    50%{left:10%}
    100%{left:0;}
}
@keyframes m_icon_ani_02{
    0%{left: -100%;}
    50%{left:37%}
    100%{left:27.5%;}
}
@keyframes m_icon_ani_03{
    0%{left: -100%;}
    50%{left:65%}
    100%{left:55%;}
}
@keyframes m_icon_ani_04{
    0%{left: -100%;}
    50%{left:93%}
    100%{left:83%;}
}
/* *********************************************** */
.mobile_box_l{
    width:48%;
    margin-top: 26px;
    float:left;
}
.mobile_box_r{
    width: 48%;
    margin-top: 33px;
    float:right;
}
/* *********************************************** */
.mobile_txt{
    position: absolute;
    left:35%;
    top: 20%;
}
.mobile_txt h6{
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
    margin-bottom: 40px;
}
.mobile_txt h7{
    font-size: 1.75em;
    font-weight: bold;
    color: rgba(255,255,255,.6);
    line-height: 48px;
}
/* *********************************************** */
.res{
    position: relative;
    overflow: hidden;
}
.res_txt{
    position: absolute;
    left: 10%;
    top: 12%;
    z-index: 2;
}
.res_txt h6{
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    margin-bottom: 40px;
}
.res_txt h7{
    font-size: 1.5em;
    font-weight: bold;
    color: rgba(255,255,255,.6);
    line-height: 48px;
}
.res_back{
    background:url("../images/web_back.png")no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    transform: scaleX(-1);
    z-index: 2;
}
/* *********************************************** */
.res_list{
    width: 69%;
    height: 65%;
    position: absolute;
    left: 8%;
    bottom: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}
.res_list li{
    width: 30%;
    height: 100%;
    float: left;
}
.res_box{
    width: 100%;
    height: 100%;
    margin-top: 170%;
    border-radius: 20px 20px 0 0;
    box-shadow: 20px 20px 20px rgba(0,0,0,.3);
}
.res_box_01.on{
    margin-top: 50%;
    transition: all 1s cubic-bezier(0.12, 0.8, 0.35, 1.70);
}
.res_box_02.on{
    margin-top: 50%;
    transition: all 1.3s cubic-bezier(0.12, 0.8, 0.35, 1.70);
}
.res_box_03.on{
    margin-top: 50%;
    transition: all 1.6s cubic-bezier(0.12, 0.8, 0.35, 1.70);
}
.res_box_mouse {
    margin-top: 50%;
    transition: margin-top 0.5s ease;
}
.res_box:hover{
    margin-top: 0% !important;
}
.res_box_top{
    width: 100%;
    height: 50%;
    background:linear-gradient(to top, #4E4E4E, #9B9B9B);
    border-radius: 20px 20px 0 0;
    text-align: center;
    padding-top: 10%;
    overflow: hidden;
    box-sizing: border-box;
}
.res_box_top img{
    width: 80%;
    display: inline-block;
}
.res_box_mid{
    width: 100%;
    height: 25%;
    background: #fff;
    padding: 8%;
    box-sizing: border-box;
}
.res_box_mid h3{
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
    display: inline-block;
    color: #101010;
}
.res_box_mid h3 span{
    opacity: .5;
}
.res_box_mid p{
    font-size: 15px;
    font-weight: bold;
    line-height: 15px;
    display: inline-block;
    float:right;
    color: #101010;
    opacity: .5;
    font-weight: bold;
    text-align: right;
}
.res_box_bottom{
    width: 100%;
    height: 25%;
    background: #fff;
    text-align: center;
}
.res_box_bottom img{
    display: inline-block;
    width: 90px;
}
/* *********************************************** */
.gra{
    position: relative;
}
.gra_txt{
    position: absolute;
    left: 10%;
    top: 12%;
    z-index: 2;
}
.gra_txt h6{
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    margin-bottom: 40px;
}
.gra_txt h7{
    font-size: 1.5em;
    font-weight: bold;
    color: rgba(255,255,255,.6);
    line-height: 48px;
}
/* *********************************************** */
.gra_inner{
    width: 1020px;
    height: 440px;
    margin: 0 auto;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
    z-index: 10;
    border:1px solid red;
}
/* *********************************************** */
.gra_gmenu{
    text-align: left;
    margin-bottom: 25px;
}
.gra_gmenu div{
    display: inline-block;
}
.gra_gmenu div a{
    display: block;
    padding: 15px;
    font-size:16px;
    color:#fff;
    background:#313131;
    font-weight: bold;
    box-sizing: border-box;
    border:1px solid #313131;
}
.gra_gmenu div.on a{
    color: #313131;
    background:#fff;
    border:1px solid #313131;
}
.grid{
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    font-size: 0;
}
.grid_wrap{
    width: 1020px;
    height: 368px;
    margin: 0 auto;
    border:1px solid red;
}
.grid-item{
    float:left;
}
.grid-item img{
    width: 255px;
    height: 184px;
}
/* *********************************************** */
.gra_web{
    opacity: 0;
    transition: all 0.5s 0.2s ease;
}
.gra_web.on{
    opacity: 1;
}
.gra_apps{
    opacity: 0;
    transition: all 0.5s 0.4s ease;
}
.gra_apps.on{
    opacity: 1;
}
.gra_photo{
    opacity: 0;
    transition: all 0.5s 0.6s ease;
}
.gra_photo.on{
    opacity: 1;
}
.gra_dev{
    opacity: 0;
    transition: all 0.5s 0.8s ease;
}
.gra_dev.on{
    opacity: 1;
}
/* *********************************************** */
.lb-data .lb-close{
    background-size: cover;
}
.lb-cancel{
    background-size: cover;
}
/* *********************************************** */
.gra_back{
    width: 470px;
    height: 100%;
    background: #313131;
    position: absolute;
    right: 20%;
    top: 0;
}
/* *********************************************** */
.contact{
    position: relative;
}
/* *********************************************** */
.copy{
    margin-top: 10px;
}
.copy p{
    font-size: 14px;
    color: #fff;
    line-height: 20px;
}
/* *********************************************** */
#fp-nav ul li a span{
    background:#fff;
}
.fp-controlArrow.fp-prev{
    left:30px;
}
.fp-controlArrow.fp-next{
    right:80px;
}
/* *********************************************** */