@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* *********************************************** */
body{
    font-family: 'Roboto','Noto Sans KR', sans-serif;
}
button{
    border: none;
    cursor: pointer;
}
/* *********************************************** */
header{
    width: 100%;
    padding: 30px 0;
    background:rgba(255,255,255,.6);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
header ul{
    display: flex;
    justify-content: end;
}
header ul li{
    margin:0 20px;
}
header ul li a{
    color:#fff;
    font-weight: bold;
}
/* *********************************************** */
#fullpage{
    position: relative;
}
#fullpage h1{
    font-size: 50px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    right: 80px;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
}
/* *********************************************** */
.m_btn{
    width: 30px;
    height: 30px;
    position: fixed;
    left:50px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
}
.m_btn .line{
    display: block;
    width: 100%;
    height: 100%;
}
.m_btn .line span{
    display: block;
    width: 20px;
    height: 2px;
    background:#fff;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}
.m_btn .line span::before{
    content: '';
    width: 30px;
    height: 2px;
    background:#fff;
    position: absolute;
    left: 0;
    top: -14px;
    transition: all 0.3s ease;
}
.m_btn .line span::after{
    content: '';
    width: 30px;
    height: 2px;
    background:#fff;
    position: absolute;
    left: 0;
    top: 14px;
    transition: all 0.3s ease;
}
.m_btn .line.on span{
    background:rgba(0,0,0,0);
}
.m_btn .line.on span::before{
    transform: rotate(45deg);
    top: 0;
}
.m_btn .line.on span::after{
    transform: rotate(-45deg);
    top: 0;
}
/* *********************************************** */
.full_menu{
    width: 77%;
    height: 100%;
    background:#000;
    position: fixed;
    left: -100%;
    top: 0;
    padding:225px 50px 0 130px; 
    box-sizing: border-box;
    z-index: 80;
    transition: all 0.5s ease;
    text-align: right;
}
.full_menu.on{
    left:0;
}
.full_menu li{

}
.full_menu li:not(:last-child){
    margin-bottom: 20px;
}
.full_menu li a{
    color:#fff;
    font-size: 50px;
    position: relative;
}
.full_menu li a::before{
    content: '';
    width: 0%;
    height: 5px;
    position: absolute;
    left: -15%;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    z-index: -1;
}
.full_menu li a:hover::before{
    width: 120%;
}
/* *********************************************** */
.blackout{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 70;
    display: none;
}
.blackout.on{
    display: block;
}
/* *********************************************** */
.home{
    position: relative;
    z-index: 999;
}
.title{
    width: 975px;
    height: 648px;
    border-radius: 16px;
    border: 0.5px solid #8B8B8B;
    box-shadow: 30px 30px 50px rgba(0,0,0,.2);
    background: #212836;
    position: absolute;
    left: 50%;
    margin-left: -487.5px;
    top: 50%;
    margin-top: -324px;
    z-index: 5;
    transform: scale(0);
}
.title.on{
    animation: home_ani 0.2s ease forwards;
}
@keyframes home_ani{
    0%{transform: scale(0);}
    100%{transform: scale(1);}
}
.tit_top{
    overflow: hidden;
    width: 100%;
    height: 55px;
    padding: 20px 424px 0 25px;
    box-sizing: border-box;
}
.tit_top p{
    font-size: 30px;
    font-weight: bold;
    float: right;
    color: #fff;
}
/* *********************************************** */
.circle_01{
    width: 35px;
    height: 35px;
    background: #e9695e;
    border-radius: 100px;
    float: left;
    margin-right: 18px;
}
.circle_02{
    width: 35px;
    height: 35px;
    background: #f4be4e;
    border-radius: 100px;
    float: left;
    margin-right: 18px;
}
.circle_02 a{
    display: block;
    width: 100%;
    height: 100%;
}
.circle_03{
    width: 35px;
    height: 35px;
    background: #63c755;
    border-radius: 100px;
    float: left;
}
.circle_03 a{
    display: block;
    width: 100%;
    height: 100%;
}
/* *********************************************** */
.tit_mid{
    width: 100%;
    height: 543px;
    text-align: center;
}
.tit_mid h2{
    font-size: 33px;
    font-weight: bold;
    line-height: 543px;
    color: #97A7BE;
}
.tit_mid .fuc{
    color: #a786cf;
    font-size: 33px;
}
.tit_mid .des{
    color: #6096d5;
    font-size: 33px;
}
.tit_mid h2 span{
    font-size: 77px;
    color: #C1FB39;
}
.tit_bottom{
    width: 100%;
    height: 50px;
}
.tit_bottom p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    color:rgba(255,255,255,.5);
}
.home_back{
    width: 50%;
    height: 100%;
    background:linear-gradient(to top,#101010, #3A3A3A);
    position: absolute;
    left: 0;
    top: 0;
}
/* *********************************************** */
.about{
    position: relative;
    overflow: hidden;
    z-index: 888;
}
.about_txt{
    position: absolute;
    top: 50%;
}
.about h3{
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
    margin-bottom: 40px;
}
.about p{
    font-size: 1.75em;
    font-weight: bold;
    color: rgba(255,255,255,.8);
    line-height: 48px;
}
.about_back{
    background: #656565;
    width: 468px;
    height: 100%;
    position: absolute;
    left: 15%;
    top: -100%;
    box-shadow: 30px 0 50px rgba(0,0,0,.2);
    padding: 0 62px 0 63px;
    box-sizing: border-box;
}
.about_back.on{
    animation: about_ani 0.3s ease forwards;
}
@keyframes about_ani{
    0%{top: -100%;}
    100%{top: 0;}
}
.about_pic{
    width: 343px;
    height: 343px;
    border-radius: 100%;
    border: 13px solid #fff;
    position: absolute;
    top: 10%;
    /* margin-top: 180px; */
    margin-bottom: 118px;
    box-sizing: border-box;
    box-shadow: 30px 30px 50px rgba(0,0,0,.2);
}
.about_right{
    position: absolute;
    left:45%;
    top: 15%;
    width: 45%;
    height: 65%;
}
.about_right img{
    width: 164px;
    margin-bottom: 10%;
}
.about_s_t{
    top: 0;
    left: 0;
}
.about_s_l{
    width: 50%;
    height: auto;
    float: left;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
}
.about_s_r{
    width: 50%;
    height: auto;
    float:left;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    bottom: 0;
}
/* *********************************************** */
.web{
    overflow: hidden;
}
.web_txt{
    position: absolute;
    left: 6%;
    bottom: 15%;
    z-index: 5;
}
.web h3{
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
    margin-bottom: 40px;
}
.web p{
    font-size: 1.75em;
    font-weight: bold;
    color: rgba(255,255,255,.8);
    line-height: 48px;
}
.web_back{
    width: 100%;
    height: 100%;
    background:url("../images/web_back.png")no-repeat;
    background-size: cover;
    position: relative;
}
/* *********************************************** */
.web_box_wrap{
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -80px;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 574px;
    z-index: 5;
    display: flex;
    justify-content: space-between;
}
/* .web_box_wrap li:hover .web_box_bottom{
    height: 100%;
} */
.web_box_wrap li .web_box:hover .web_box_bottom{
    height: 100%;
}
.web_box{
    width: 395px;
    height: 574px;
    border-radius: 10px;
    background:linear-gradient(to top,#3C3C3C, #777777);
    padding: 59px 44px 0 44px;
    box-sizing: border-box;
    position: relative;
    box-shadow: 30px 30px 40px rgba(0,0,0,.2);
    overflow: hidden;
    transform: scale(70%);
}
/* *********************************************** */
.w_box_01{
    top: -150%;
}
.w_box_01.on{
    animation: web_box_ani_01 0.5s ease forwards;
}
@keyframes web_box_ani_01{
    0%{top: -150%;}
    50%{top: 10%;}
    100%{top: 0;}
}
.w_box_02{
    top: -150%;
}
.w_box_02.on{
    animation: web_box_ani_01 1s ease forwards;
}
@keyframes web_box_ani_02{
    0%{top: -150%;}
    50%{top: 10%;}
    100%{top: 0;}
}
.w_box_03{
    top: -150%;
}
.w_box_03.on{
    animation: web_box_ani_01 1.5s ease forwards;
}
@keyframes web_box_ani_03{
    0%{top: -150%;}
    50%{top: 10%;}
    100%{top: 0;}
}
.w_box_04{
    top: -150%;
}
.w_box_04.on{
    animation: web_box_ani_01 2s ease forwards;
}
@keyframes web_box_ani_04{
    0%{top: -150%;}
    50%{top: 10%;}
    100%{top: 0;}
}
/* *********************************************** */
.web_box_bottom{
    width: 100%;
    height: 199px;
    background:#fff;
    position: absolute;
    border-radius: 0 0 10px 10px;
    left: 0;
    bottom: 0;
    padding: 30px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}
.web_box_bottom h3{
    display: block;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000;
}
.web_box_bottom p{
    display: block;
    font-size: 21px;
    font-weight: bold;
    color: rgba(0,0,0,.4);
    margin-bottom: 20px;
}
.web_box_bottom h4{
    float:right;
    font-size: 15px;
    font-weight: bold;
    color: rgba(0,0,0,.6);
    text-align: right;
}
.web_box_img{
    margin-top: 195px;
    margin-left: 107px;
    width: 122px;
}
/* *********************************************** */
.mobile{
    position: relative;
}
.mobile_back{
    position: absolute;
    left: -100%;
    top: 0;
    width: 32%;
    height: 100%;
    background:linear-gradient(to top,#0D0D12, #3F4259);
}
.mobile_back.on{
    animation: mobile_ani 0.3s ease forwards;
}
@keyframes mobile_ani{
    0%{left: -100%;}
    100%{left: 0;}
}
.mobile_logo{
    position: absolute;
    width: 164px;
    left: 30%;
    top: 10%;
}
.mobile_box_01{
    position: absolute;
    top: 20%;
    left: 30%;
    width: 304px;
    height: auto;
    border:1px solid #fff;
}
.mobile_box_01 img{
    width: 100%;
}
/* *********************************************** */
.copy{
    margin-top: 10px;
}
.copy p{
    font-size: 14px;
    color: #fff;
    line-height: 20px;
}
/* *********************************************** */
.contact{
    position: relative;
}
.contact_inner{
    width: 1200px;
    height: 864px;
    margin: 0 auto;
    padding: 80px 0;
    box-sizing: border-box;
    overflow: hidden;
}
/* *********************************************** */
form{
    width: 50%;
    height: auto;
    float:left;
    box-sizing: border-box;
}
.txt{
    margin-bottom: 40px;
}
.txt li{
    line-height: 40px;
    font-size: 25px;
    color: #fff;
}
fieldset label{
    font-size: 15px;
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
    color: #fff;
}
fieldset legend{
    text-indent: -99999px;
}
fieldset input{
    width: 517px;
    height: 30px;
    margin-bottom: 40px;
    border: 1px solid #cbcbcb;
    background: rgba(255,255,255,.5);
    text-indent: 7px;
    outline: none;
}
fieldset input::placeholder{
    color:#f3f3f3;
}
.msg_box{
    width: 517px;
    height: 90px;
    text-indent: 7px;
    border: 1px solid #cbcbcb;
    background: rgba(255,255,255,.5);
    margin-bottom: 67px;
    color:#f3f3f3;
    outline: none;
}
.send{
    width: 230px;
    height: 40px;
    border:1px solid #c8c8c8;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    background: rgba(255,255,255,.5);
    color: #fff;
}
.map{
    width: 50%;
    height: 550px;
    float:right;
    box-sizing: border-box;
}
.map_canvas iframe{
    width: 100%;
}
/* *********************************************** */
.copy{
    margin-top: 10px;
}
.copy p{
    font-size: 14px;
    color: #fff;
    line-height: 20px;
}
/* *********************************************** */
#fp-nav ul li a span{
    background:#fff;
}
.fp-controlArrow.fp-prev{
    left:30px;
}
.fp-controlArrow.fp-next{
    right:80px;
}
/* *********************************************** */